<div id="form">
  <h2>Login</h2>
  <form action="/auth/login" method="POST">
    <label>
      E-Mail
      <input
        name="email"
        type="email"
        placeholder="<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>"
        required
      />
    </label>
    <label>
      Password
      <input
        name="password"
        type="password"
        placeholder="<%= typeof passwordErrorMessage !== 'undefined' ? passwordErrorMessage : ''%>"
      />
    </label>
    <button type="submit">Login</button>
  </form>
</div>
