<div id="form">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <label>
      E-Mail
      <input
        name="email"
        type="email"
        required
        value="<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>"
      />
    </label>
    <label>
      Password
      <input name="password" type="password" required />
    </label>
    <button type="submit">Login</button>
  </form>
</div>
