<div id="login-container">
  <div id="login-content">
    <a href="/"><img src="/images/Trackify.png" alt="Logo"></a>
    <form action="/auth/login" method="POST">
      <label> E-Mail </label>
      <input
        name="email"
        type="email"
        placeholder="<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>"
        required
      />

      <label> Password </label>
      <input
        name="password"
        type="password"
        placeholder="<%= typeof passwordErrorMessage !== 'undefined' ? passwordErrorMessage : ''%>"
      />

      <button type="submit">Login</button>
    </form>
    <a href="/auth/signup">Don't have a trackify account? <span class="bold">Signup</span></a
    >
  </div>
</div>
