<div>
  <nav>
    <h2>Trackify</h2>
    <a href="">Get Started</a>
    <a href="">Mobile App</a>
    <a href="">Learn More</a>

    <button type="submit">Login</button>
  </nav>

  <div id="form">
    <h2>Signup</h2>
    <form action="/signup" method="POST">

      <label>
        <input type="text" name="username" placeholder="Username" />
      </label>

      <label>
        <input type="email" name="email" placeholder="Email" />
      </label>

      <label>
        <input type="password" name="password" placeholder="Password" />
      </label>

      <label>
        <input type="password" name="password" placeholder="Confirm Password" />
      </label>

      <button type="submit">Sign Up</button>
    </form>
  </div>
</div>