<nav class="userNav">
  <img src="/images/Trackify.png" alt="Logo">
  <a href="#">Holaasdasdasd</a>
  <a href="#">Hola</a>
  <a href="/account">User Account</a>
  <form id="logout-form" action="/logout" method="POST">
    <button>Logout</button>
  </form>
</nav>