<nav>
    <a href="#"><img src="#" alt="" /></a>
    <h3>Trackify</h3>
    <a href="#">Hola</a>
    <a href="#">Hola</a>
    <a href="#">Hola</a>
    <form action="/logout" method="post">
      <button>Log Out</button>
    </form>
  </nav>