body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 14px;
}

/* Nav Home Page */
nav {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #fff;
  height: 56px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 10px;
}

nav a:hover {
  background-color: #555;
}

/* Home Page */
#container {
  max-width: 400px;
  margin: 0 auto;
}

.signup {
  text-align: center;
}

.formHome {
  display: flex;
  flex-direction: column;
}

input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.homeButton {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.homeButton:hover {
  background-color: #45a049;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  border: 1px solid #d8000c;
  border-radius: 4px;
  margin-top: 10px;
}

/* Form Sign Up or Register */
#form {
  max-width: 400px;
  margin: 0 auto;
}

.register {
  text-align: center;
}

.register a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.linkFrom {
  color: #fff;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

button[type="submit"] {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  border: 1px solid #d8000c;
  border-radius: 4px;
  margin-top: 10px;
}

/* Log In Page */
#login-container {
  height: 100vh;
  overflow: hidden;
}

#login-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 70px;
  padding-bottom: 56px;
}

#login-content label {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

#login-content input {
  width: 647px;
  height: 30px;
  border-radius: 2px;
  margin-bottom: 28px;
  padding: 10px 12px;
  font-size: 20px;
}

#login-content button {
  width: 62px;
  height: 32px;
  margin: auto;
  text-align: center;
  border-radius: 2px;
}

#login-content a {
  text-decoration: none;
  color: #000;
}

.bold {
  font-weight: 700;
}
/* Nav User Iterface */
.userNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #336699;
}

.userNav a {
  text-decoration: none;
  color: #333;
  margin-left: 10px;
}

.userNav h3 {
  font-size: 20px;
  margin: 0;
}

.userNav button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.userNav span {
  color: #333;
  margin: 0 5px;
}

/* User Interface */

/* Account */
.account-container {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: inline-block;
  margin-bottom: 10px;
}

.accountButton {
  padding: 8px 12px;
  margin-right: 10px;
  font-size: 14px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.accountButton:hover {
  background-color: #45a049;
}

/* Account Update */
.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Habits */
.habits-container {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.habits-card {
  list-style: none;
}

.habits-card li {
  border: 1px solid #000;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

/* Footer */
/*footer {
  background-color: greenyellow;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.flex-row {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  gap: 20px;
}

.information {
  display: flex;
  align-content: space-between;
}*/

footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.information {
  flex: 0 0 calc(20% - 10px);
  margin-bottom: 20px;
}

footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

footer p {
  margin: 0;
}

footer h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
