body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 14px;
}

/* Nav Home Page */
.homeNav {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #6699FF, #000000, #6699FF);
  gap: 20px;
}

.homeNav img {
  width: 100px;
  height: 100px;
  margin-left: 40px;
  margin-top: 10px;
}

.homeNav a {
  text-decoration: none;
  color: black;
  margin-top: 41px;
  margin-left: 60px;
}

.homeNav a:hover {
  text-decoration: underline;
}

.homeNav #to-right {
  margin-left: auto;
  list-style-type: none;
}

.homeNav #to-right a {
  background-color: #ff4136;
  color: #ffffff;
  margin-right: 10px;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.homeNav #to-right a:hover {
  background-color: #d30f0d;
}

/* Home Page */

/* Form Sign Up or Register */
#form {
  max-width: 400px;
  margin: 0 auto;
}

.register {
  text-align: center;
}

.register a {
  color: #333;
  text-decoration: none;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.linkFrom {
  color: #fff;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

button[type="submit"] {
  padding: 8px 12px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  padding: 10px;
  border: 1px solid #d8000c;
  border-radius: 4px;
  margin-top: 10px;
}

/* Log In Page */
#login-container {
  height: 100vh;
  overflow: hidden;
}

#login-content {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-top: 70px;
  padding-bottom: 56px;
}

#login-content label {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

#login-content input {
  width: 647px;
  height: 30px;
  border-radius: 2px;
  margin-bottom: 28px;
  padding: 10px 12px;
  font-size: 20px;
}

#login-content button {
  width: 62px;
  height: 32px;
  margin: auto;
  text-align: center;
  border-radius: 2px;
}

#login-content a {
  text-decoration: none;
  color: #000;
}

.bold {
  font-weight: 700;
}
/* Nav User Iterface */
.userNav {
  background-color: #6f6969;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.userNav img {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.userNav a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 20px;
}

.userNav a:hover {
  text-decoration: underline;
}

.userNav form {
  margin-left: auto;
}

.userNav button {
  background-color: #ff4136;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.userNav button:hover {
  background-color: #d30f0d;
}

/* User Interface */

/* Account */
.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.account-container img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.account-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.account-container button.accountButton,
.account-container button.btn-primary {
  background-color: #0074d9;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.account-container button.accountButton:hover,
.account-container button.btn-primary:hover {
  background-color: #005da5;
}

/* Account Update */
.container {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Habits */
.habits-container {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.habits-card {
  list-style: none;
}

.habits-card li {
  border: 1px solid #000;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
}

/* Footer */
footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.information {
  flex: 0 0 calc(20% - 10px);
  margin-bottom: 20px;
}

footer h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

footer p {
  margin: 0;
}

footer h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
