<div class="account-container">
  <img src="/images/Trackify.png" alt="Logo">
  <div>
    <% changes.forEach(user => { %>
    <form action="/account/<%= user._id %>/delete" method="POST">
      <button class="accountButton" type="submit">Delete Account</button>
    </form>

    <button type="submit" class="btn btn-primary" onclick="window.location.href='/account/<%= user._id %>/edit'">Update Account</button>

    <% }) %>
  </div>
</div>