<nav>
  <a href="#"><img src="#" alt="" /></a>
  <h3>Trackify</h3>
  <a href="#">Hola</a>
  <a href="#">Hola</a>
  <a href="#">Hola</a>
  <a href="#">Hola</a>
</nav>

    <main>
      <div class="flex-row habits-container">
        <div>
          <form action="/userProfile" method="POST">
            <label for="add-habit">
              <input type="text" name="add-habit" placeholder="Add a habit" />
            </label>
          </form>
        </div>
        <div>
          <form action="POST">
            <label for="add-daily">
              <input type="text" name="add-daily" placeholder="Add a Daily" />
            </label>
          </form>
        </div>
        <div>
          <form action="POST">
            <label for="add-todo">
              <input type="text" name="add-todo" placeholder="Add a To Do" />
            </label>
          </form>
        </div>
      </div>
    </main>

<footer class="flex-column" id="footer">
  <div class="flex-row">
    <div class="flex-column">
      <h4>Product</h4>
      <p>iOS App</p>
      <p>Android App</p>
      <p>Group Plans</p>
      <p>How it Works</p>
    </div>
    <div>
      <h4>Company</h4>
      <p>Contact Us</p>
      <p>Press Kit</p>
      <p>Blog</p>
      <p>News</p>
    </div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div></div>
</footer>
