<nav>
  <a href="#"><img src="#" alt="" /></a>
  <h3>Trackify</h3>
  <a href="#">Hola</a>
  <a href="#">Hola</a>
  <a href="#">Hola</a>
  <a href="/">Log Out</a>
</nav>

    <main>
      <div class="flex-row habits-container">
        <div>
          <form action="/userProfile" method="POST">
            <label for="add-habit">
              <input type="text" name="add-habit" placeholder="Add a habit" />
            </label>
          </form>
        </div>
        <div>
          <form action="POST">
            <label for="add-daily">
              <input type="text" name="add-daily" placeholder="Add a Daily" />
            </label>
          </form>
        </div>
        <div>
          <form action="POST">
            <label for="add-todo">
              <input type="text" name="add-todo" placeholder="Add a To Do" />
            </label>
          </form>
        </div>
      </div>
    </main>

<footer>
  <div class="flex-row">
    <div class="information">
      <h4>Product</h4>
      <p>iOS App</p>
      <p>Android App</p>
      <p>Group Plans</p>
      <p>How it Works</p>
    </div>
    <div class="information">
      <h4>Company</h4>
      <p>Contact Us</p>
      <p>Press Kit</p>
      <p>Blog</p>
      <p>News</p>
    </div>
    <div class="information">
      <h4>Community</h4>
      <p>Community Guidelines</p>
      <p>Hall of Heroes</p>
      <p>Translate Trackify</p>
    </div>
    <div class="information">
      <h4>Support</h4>
      <p>FAQ</p>
      <p>Report a Bug</p>
      <p>Request a Feature</p>
      <p>Wiki</p>
    </div>
    <div class="information">
      <h4>Developers</h4>
      <p>API v3</p>
      <p>Data Display Tool</p>
    </div>
  </div>
  <div>
    <div>
      <h3>Help Support Trackify</h3>
      <p>Trackify is an open source project that depends on our users for support. The money you spend on gems helps us keep the servers running, maintain a small staff, develop new features, and provide incentives for our volunteers</p>
    </div>
    <div>
      <h3>Social</h3>
      <img src="" alt="">
    </div>
  </div>
  <div></div>
</footer>